@model List<CarStoreWebApp.Models.Car>
<body>
    <script>
        function AddToCart(id) {
            $.post("/ClientCart/AddCart", { id: id })
                .done(function (data) {
                    alert("Ваш товар успешно был добавлен в карзину!");
                })
        }
    </script>
    <table class="table">
        <thead>
            <tr>
                <th><d>Фото</d></th>
                <th><d>Модель</d></th>
                <th><d>Название</d></th>
                <th><d>Цена</d></th>
                <th><d>Добавление</d></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td><a asp-controller="ClientAvto" asp-action="GetOnly" asp-route-id="@x.Id"><img src="@x.Img" style="width:150px;" /></a></td>
                    <td>@x.Model.Name</td>
                    <td>@x.Category.Name @x.Name</td>
                    <td>@x.Price сом</td>
                    <td><button onclick="AddToCart(@x.Id)" class=" btn  btn-success">Добавить в корзину</button></td>
                </tr>
            }
        </tbody>
    </table>
</body>

