
@model CarStoreWebApp.Models.Car

<form asp-action="Add" asp-controller="Car" asp-antiforgery="true" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div>

        <div class="form-group">
            <label asp-for="Name">Имя машины</label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price">Цена</label>
            <input type="number" asp-for="Price" class="form-control" />$
            <span asp-validation-for="Price"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category.Id">Категория</label>
            <select name="CId">
                @foreach (var x in ViewBag.Categories)
                {
                    <option value="@x.Id">
                        @x.Name
                    </option>
                }
            </select>
            <span asp-validation-for="Category.Id"></span>
        </div>
        <div class="form-group">
            <input type="file" name="file" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Model.Id">Модель</label>
            <select name="MId">
                @foreach (var x in ViewBag.Model)
                {
                    <option value="@x.Id">
                        @x.Name
                    </option>
                }
            </select>
            <span asp-validation-for="Model.Id"></span>
        </div>
        <div class="form-group">
            <label asp-for="Status.Id">Статус</label>
            <select name="SId">
                @foreach (var x in ViewBag.Status)
                {
                    <option value="@x.Id">
                        @x.Name
                    </option>
                }
            </select>
            <span asp-validation-for="Status.Id"></span>
        </div>
        <div class="form-group">
            <label asp-for="Desciption">Описание</label>
            <input type="text" asp-for="Desciption" class="form-control" />
            <span asp-validation-for="Desciption"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="form-control btn" />
        </div>
    </div>
</form>



