@model List<Order>
<table class="table table-active table-bordered table-hover">
    <thead>
        <tr>
            <td>#</td>
            <td><d>Фото</d></td>
            <td><d>Название</d></td>
            <td><d>Количество</d></td>
            <td><d>Цена</d></td>
            <td><d>Имя покупателя</d></td>
            <td><d>Номер покупателя</d></td>
            <td><d>Адресс покупателя</d></td>
            <td><d>Удаление</d></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var Item in Model)
        {
        <tr>
            <td>@Item.Id</td>
            <td><img src="@Item.Item.Item.Img" style="width:150px;" /></td>
            <td>@Item.Item.Item.Name</td>
           <td>@Item.Item.Caunt</td>
            <td>@Item.Item.Item.Price сом</td>
            <td>@Item.Name</td>
            <td>@Item.Phone</td>
            <td>@Item.Adress</td>
            <td><a class="btn btn-danger"href="/Car/DeleteOrder?id=@Item.Id">Удалить</a></td>
        </tr>
        }
    </tbody>
</table>