
@model List<CarStoreWebApp.Models.Car>
@{
    ViewData["Title"] = "CarStoer";
}

<a asp-action="Add" asp-controller="Car">Добавить</a>
<table class="table table-active table-bordered table-hover">
    <thead>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Цена</td>
            <td>Фотография</td>
            <td>Описание</td>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.Name</td>
                <td>@x.Price</td>
                <td>@x.Img</td>
                <td>@x.Desciption</td>             
                <td><a class="btn btn-danger" asp-action="Delete" asp-controller="Car" asp-route-id="@x.Id" id="Delete">Удалить</a> <a class="btn btn-primary" asp-action="Edit" asp-controller="Car" asp-route-id="@x.Id">Изменить</a></td>
            </tr>
        }
    </tbody>
</table>



